<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}</title>
    <link rel="icon" href="/favicon.ico">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <style>
      #sourcelink {
        float: right;
      }
      #backlink {
        float: left;
        margin-right: 0.5em;
      }
      header h1 {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <header>
      <div id="backlink"><a href="/">« Back to Index</a></div>
      {% if page.source %}
      <div id="sourcelink"><a href="{{page.source}}">View Source</a></div>
      {% endif %}
      <h1>{{page.title}}</h1>
    </header>
    <article>
      {{content}}
    </article>
  </body>
</html>
